@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&family=Roboto&family=Roboto+Serif&family=Roboto+Slab&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #BA6B22;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #40327d;
    font-family: 'Roboto Slab', 'Roboto Serif', Roboto;
    margin: 0;
    padding: 0;

}

header {
    background-color: #327646;
}

nav a:hover {
    background-color: #40327d;
    color: #BA6B22;
}

.book, .join {
    background-color: #327646;
    color: #BA6B22;
    text-decoration: none;
    font-size: 18px;
    padding: 13px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#background {
    background-color: #F5C645;
}

.msg {
    background-color: #F5C645;
    font-size: .8em;
    padding: 35px;
}

footer {
    background-color: #F5C645;
    color: #BA6B22;
}

.home-title {
    color: #BA6B22;
    font-family: 'Roboto Slab', 'Roboto Serif', Roboto;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #BA6B22;
}

.book:hover, .join:hover {
    color: #BA6B22;
}

.msg h2{
    color: #BA6B22;
    font-family: 'Roboto Slab', 'Roboto Serif', Roboto;
}

.msg p {
    color: #BA6B22;
    padding-bottom: 15px;
}

footer {
    color: #BA6B22;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: #BA6B22;
    text-decoration: none;
}

footer a:hover {
    color: #BA6B22;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Roboto Slab', 'Roboto Serif', Roboto;
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: black 10px;
}

main section img {
    box-sizing: border-box;
}