@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lato&family=Roboto&family=Titillium+Web&family=Work+Sans&display=swap');

/* Generals */

body {
  background-color: #5A7684;
  margin: 0;
}

header, footer, h2 {
  font-family: Lato, "Work Sans", Roboto;
}

h2 {
  color: #D1AC00;
  padding: 1em;
  background-color: #E2E2E2;
  border: 5px solid #171717;
  max-width: fit-content;
  margin: 30px auto;
}

p {
  font-family: Belleza, "Titillium Web", Roboto;
  font-size: large;
  color: #5A7684;
  padding: 1em;
  background-color: #171717;
  border: 5px solid #D1AC00;
  max-width: fit-content;
  margin: 30px auto;
  margin-bottom: 75px;
}

img {
  border: 5px solid #171717;
}

/* Header */

header {
  background-color: #D1AC00;
  display: grid;
  grid-template-columns: 150px auto;
  border: 5px solid #171717;
}

.logo {
  max-width: 150px;
  border: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a{
  text-align: center;
  color: #171717;
  text-decoration: none;
  padding: 3em;
  font-size: larger;
  font-weight: bold;
}

nav a:hover {
  background-color: #171717;
  color: #D1AC00;
}

/* About Website */

#about_website {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

/* About Me */

#about_me {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about_me p {
  max-width: 50%;
}

.selfie {
  max-width: 75%;
  margin: 20px auto;
  align-self: center;
}

/* Python Book Image */

.python_book {
  display: block;
  max-width: 50%;
  margin: 75px auto;
}

/* FAQ */

#faq h2 {
  margin-bottom: 50px;
}

.question_answer_container {
  display: block;
}

.question_container, .answer_container{
  display: flex;
  justify-content: center;
}

.question_container {
  margin-bottom: -30px;
}

.question, .answer {
  display: block;
  background-color: white;
  padding: 1em;
  border: 5px solid black;
  flex: 1;
  max-width: 50%;
  font-size: 20px;
}


.letter {
  padding: 1em;
  flex: 1;
  font-weight: bolder;
  max-width: 25px;
  text-align: center;
  font-size: 20px;
}

.question {
  font-weight: bold;
  text-align: center;
}

.letter, .question, .answer {
  margin: 0 1px 50px 0px;
}

.answer, .answer_container .letter {
  margin-bottom: 75px;
}

/* Contact Info */

#contact_info p {
  width: 50%;
  margin-bottom: 200px;
}

/* Footer */

footer {
  height: 170px;
  background-color: #D1AC00;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 5px solid #171717;
  justify-items: center;
  align-items: center;
}

footer .logo {
  max-width: 170px;
}

footer h2 {
  background-color: #D1AC00;
  color: #171717;
  border: 0;
  font-style: italic;
}

footer a {
  text-decoration: underline #171717;
}

@media screen and (max-width: 900px) {
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  footer {
      margin-top: 25px;
      height: auto;
  }
  .logo {
    height: 200px;
  }
}